body {
    color: #293264;
    padding: 50px 50px;
    background-color: #293264;
    box-sizing: border-box;
}


/* IntroScreen */
.IntroScreen__General {
    height: 550px;
    width: 550px;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.IntroScreen__Title {
    font-family: "Karla", sans-serif;
    font-size: 31.25px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.IntroScreen__Subtitle,
.IntroScreen__Button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.IntroScreen__Subtitle {
    margin-top: 7px;
    margin-bottom: 0;
}

.IntroScreen__Button {
    color: #F5F7FB;
    background-color: #4D5B9E;
    border: none;
    border-radius: 15px;
    height: 52px;
    width: 193px;
    margin-top: 29px;
    cursor: pointer;
}

.IntroScreen__Image--BlobOrange,
.IntroScreen__Image--BlobBlue {
    position: absolute;
}

.IntroScreen__Image--BlobOrange {
    top: 0;
    right: 0;
}

.IntroScreen__Image--BlobBlue {
    bottom: 0;
    left: 0;
}





/* QuizPage */
.QuizPage__General {
    height: 550px;
    width: 550px;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.QuizPage__Button {
    color: #F5F7FB;
    background-color: #4D5B9E;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.QuizPage__Image--BlobOrange {
    position: absolute;
    top: 0;
    right: 0;
}

.QuizPage__Image--BlobBlue {
    position: absolute;
    bottom: 0;
    left: 0;
}





/* Question */
.Question__General {
    width: 399px;
    border-bottom: 1px solid #DBDEF0;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.Question__General:first-of-type .Question__Title {
    margin-top: 0px;
}

.Question__Title {
    font-family: "Karla", sans-serif;
    font-size: 16;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 5px;
    width: 400px;
}

.Question__AnswersRow {
    display: flex;
    gap: 13px;
    width: 500px;
    border: none;
    padding-left: 0;
}

.Question__SingleAnswer {
    font-family: "Inter", sans-serif;
    font-size: 10.24px;
    border: 1px solid #4D5B9E;
    border-radius: 7.94239px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45.92px;
    height: 20.65px;
    padding: 0 10px;
    cursor: pointer;
}

.Question__SingleAnswerTest,
.Question__SingleAnswerCheckedTest {
    font-family: "Inter", sans-serif;
    font-size: 10.24px;
    border: 1px solid #4D5B9E;
    border-radius: 7.94239px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 65.92px;
    height: 20.65px;
    padding: 0 9px;
    cursor: pointer;
    box-sizing: border-box;
}

.Question__SingleAnswerCheckedTest {
    background: #D6DBF5;
    border: none;
}

.Question__SingleAnswerTestInput {
    display: none;
}